*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Tahoma', monospace;
	overflow-x: hidden;

}

.logo{
	width: 117px;
  margin-top: -19px;

}
#enlacesMenu{
	    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo2{
	margin-top: 50px;
    width: 117px;

}

.btn{
	display: inline-block;
	padding: 18px 25px;
	text-decoration: none;
	font-family: Tahoma;
	border: 1px solid #ccc;
 
	border-radius: 3px;
	background-color: #eee;
	color: #555;
	margin-top: 80px;
}

.btn-download{
	background-color: #BF8B2A;
	color: #fff;
	border-color: #BF8B2A;
}

#contenedor{
	height: 100vh;
	width: 100vw;
	min-width: 1028px;
	display: flex;
	justify-content: flex-end;
	
}


	#menu{
		width: 11%;
		height: 100%;
		display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:#D0D0CD;
    min-width: 196px;
    align-items: flex-end;
    border-right: solid 25px #BF8B2A;
    padding-right: 8px;
	}

		#menu a{
			padding: 10px;
			text-decoration: none;
			font-size: 25px;
			color:#BF8B2A;
		}

	#tituloNombre{
		color:  #346969;
		font-weight: normal;
    font-size: 40px;
	}
	#contenido{
		width: 89%;
		/*margin-left: 15%;*/
	}

		#bloque1, #bloque3{
			height: 1000px;
		}

		#bloque1{
			background:#8DA1A6;
			display: flex;
			align-items: center;
   		justify-content: center;
		}

		.enlaceUno{
			margin-top: 20px;
		}

		#bloque2{
			background: #D0D0CD;
			height: auto;
			display: flex;
			justify-content: space-around;
   			flex-wrap: wrap;
   			
		}


		.proyecto{
			background:#8DA1A6;
			height: 390px;
    		width: 400px;
			margin: 50px;
			display: flex;
   			align-items: center;
    		justify-content: space-between;
    		flex-direction: column;
    		border: 1px solid black;


		}

		.contenedorImagenes{
			display: flex;
			align-items: center;
			justify-content: center;
		}

		#imgProy1, #imgProy2, #imgProy3, #imgProy4{
			width: 70%;
			height: 70%;
			border: 1px solid black;
		}

		.iconoGitHub{
			width: 36px;
    		height: 36px;
   			 margin-bottom: 8px;
			
		}
		.iconoWeb{
			width: 50px;
			height: 50px;
		}

		#bloque3{
			background:#8DA1A6;
			display: flex;
			flex-direction: column;
   			justify-content: center;
   			align-items: center;
		}
		#contenedorFormulario{
			display: flex;
			flex-direction: column;
		}
	
		form{
			height: 60%;
    		width: 40%;
    		outline: none;
		}

		input, #mensaje{
			background:#D0D0CD;
			outline: none;
			border: 0px solid black;
			padding: 10px;
		}

		#nombre,#mail{
			height: 50px;

		}

		#mensaje{
		height: 180px;
		resize: none;
		outline: none;
		}

		label{
			font-size: 20px;
			margin: 10px 0px 5px 0px;
		}
		#contacto{
			font-size: 51px;
		}


		.tituloPaginas{
			font-size: 25px;
			margin-top: 60px;
		}

		#botonEnviar{
			  display: flex;
			  align-items: center;
    			justify-content: center;

		}

		#send{
			margin-top: 20px;
    		width: 111px;
		}

/*
@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

*/
/*
@keyframes circle-out-top-right {
  from {
    clip-path: circle(125%);
   background: white;
  }
  to {
    clip-path: circle(0% at top right);
    background: #8DA1A6;
  }
}

[transition-style="out:circle:top-right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-top-right both;
}*/




@media (max-width: 431px) {
 
 #contenedor{
 	display: flex;
 	flex-direction: column;
 
 }

 form{
 	    width: 70%;
 	        height: 65%;
 }
 .logo, .logo2{
 	    width: 43px;
    margin-bottom: 10px;
 }

 #menu{
 	width: 42%;
  flex-direction: row;
 }

 #contenido{
 	  width: 41%;
 }
 #contacto{
 	    margin-bottom: 42px;
    font-size: 35px;
    margin-top: 259px;
}

 #tituloNombre{
 	font-size: 16px;
 }

}

@media (max-width: 360px) {
 
 #contenido{
 	  width: 37%;
 }
 #menu{
 	width: 37%;
 }

}
@media (max-width: 291px) {
 
 #contenido{
 	  width: 29%;
 }
  #menu{
 	width: 29%;
 }

}

@media (max-width: 231px){
	 #contenido{
 	  width: 23%;
 }

  #menu{
 	width: 25%;

 }

 #menu a{
 	font-size: 20px;
 }
 .logo, .logo2{

 }


}






